.form-container {
    // background-color: rgb(156,186,216);
    // background: linear-gradient(8deg, rgba(156,186,216,1) 0%, rgba(129,171,213,1) 50%, rgba(102,156,209,1) 100%);
    // margin: 1em;
    background-color: #36393f;
    padding: 1em;
    border-radius: 1em;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 90%;
    max-width: 900px;
    align-self: center;

    @media (min-width: 768px){
        padding: 2em;
        margin-top: 4em;
    }
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    &-name {
        @media (min-width: 768px){
            display: flex;
            gap: 15px;
        }
    }

    &-group {
        @media (min-width: 768px){
            display: flex;
            gap: 15px;
        }
    }
    
    &-id {
        @media (min-width: 768px){
            display: flex;
            gap: 15px;
        }
    }
}
