.form-container {
    background-color: #36393f;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 90%;
    max-width: 900px;
    align-self: center;
    

    @media (min-width: 768px){
        padding: 2em;
    }
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 1.7em;

    &-name {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        @media (min-width: 768px){
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
    }

    &-group {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        @media (min-width: 768px){
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
    }
    
    &-id {
        display: flex;
        flex-direction: column;
        gap: 1.7em;
        @media (min-width: 768px){
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
    }
}
