.error-display__popup {
    font-size: 0.9em;
    color: #ff3333;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50px;
    // background-color: black;
    padding: 0.5em;
    
}