.error-display__popup {
    font-size: 0.9em;
    color: #cb7678;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 70px;
    left: 0px;
    // background-color: black;
    padding: 0.5em;
    
}